<div class="container">
    <div class="row justify-content-between">
        {{#each shoes}}
        <div class="card p-0 m-2 col-md-3 shoe-body">
            <img class="card-img-top" src="/images/{{this.filename}}">
            <div class="card-body">
                <h2 class="card-title shoe-name text-dark">{{this.name}}</h2>
                <p class="card-text text-muted">${{this.price}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>