<div class="container my-4 forms">
    <div class="row">
        <div class="col-6 border rounded p-3">
            <h2>Are You New Here? Join the Fam!</h2>
            <form>
                <div class="form-row">
                        <div class="form-group col-md-12">
                        <label for="username-signup">Username</label>
                        <input type="username" class="form-control" id="username-signup" placeholder="Username">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email-signup">Email</label>
                        <input type="email" class="form-control" id="email-signup" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password-signup">Password</label>
                        <input type="password" class="form-control" id="password-signup" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address-signup">Address</label>
                    <input type="text" class="form-control" id="address-signup" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="address2-signup">Address 2</label>
                    <input type="text" class="form-control" id="address2-signup"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city-signup">City</label>
                        <input type="text" class="form-control" id="city-signup"
                        placeholder="City">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="state-signup">State</label>
                        <select id="state-signup" class="form-control">
                            <option selected>Choose...</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arkansas</option>
                            <option>California</option>
                            <option>Colorado</option>
                            <option>Connecticut</option>
                            <option>Delware</option>
                            <option>Florida</option>
                            <option>Georgia</option>
                            <option>Hawaii</option>
                            <option>Idaho</option>
                            <option>Illinois</option>
                            <option>Indiana</option>
                            <option>Iowa</option>
                            <option>Kansas</option>
                            <option>Kentucky</option>
                            <option>Louisiana</option>
                            <option>Maine</option>
                            <option>Maryland</option>
                            <option>Massachusetts</option>
                            <option>Michigan</option>
                            <option>Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Utah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option>Washington</option>
                            <option>West Virginia</option>
                            <option>Wisconsin</option>
                            <option>Wyoming</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zip-signup">Zip</label>
                        <input type="text" class="form-control" id="zip-signup"
                        placeholder="Zip">
                    </div>
                </div>
                <button type="submit" class="btn btn-info signup-button">Sign Up</button>
            </form>
        </div>
        <div class="col-6 border rounded p-3">
            <h2>Returning User? Log In!</h2>
            <form>
                <div class="form-group">
                    <label for="email-login">Email address</label>
                    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password-login">Password</label>
                    <input type="password" class="form-control" id="password-login" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info login-button">Log In</button>
            </form>
        </div>
    </div>
</div>