<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="single-shoe" src="/images/{{shoe.filename}}">
        </div>
        <div class="col-5 border rounded">
            <h2>{{shoe.name}}</h2>
            <p>Description: </br> </br>{{shoe.description}}</p>
        </div>
        <div class="col-3 border rounded">
            <h3>Select a size:</h3>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Size
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">7</a>
                    <a class="dropdown-item" href="#">8</a>
                    <a class="dropdown-item" href="#">9</a>
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">11</a>
                    <a class="dropdown-item" href="#">12</a>
                    <a class="dropdown-item" href="#">13</a>
                </div>
            </div>
            <p class="text-muted">Qty: 1</p>
            <ul>
                <li>Ships in 3-5 business days</li>
                <li>Satisfaction Guaranteed</li>
                <li>30-day returns with proof of purchase</li>
            </ul>
            <button class="btn btn-info cart-button" type="button">Add to Cart</button>
        </div>
    </div>
</div>

<script src="/javascript/cart.js"></script>