header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.icon {
    color: white;
    width: 50px;
}

.hero {
    background-image: url('../images/hero-img.png');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
